$PrimaryColorSemiLight: #4588F7;
$PrimaryColorDark:#4B4BE0;
$PrimaryColorLight:#24BBED;
$SecundaryColor:#C742ED;
$SecundaryColorDark:#8A45F7;
$grey:#808080;
$purple:#4B4BE0;
$white: white;
$black:black;
$red:red;